* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.container {
    margin: auto;
    padding: 20px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 10%;
    height: 100vh;
    font-family: "Rubik";
}

@media (min-width:768px) {
    .container {
        width: 760px;
    }
}

@media (min-width:992px) {
    .container {
        width: 980px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}